version: '1.0.{build}'
image: Visual Studio 2017
init:
  - cmd: git config --global core.autocrlf true
before_build:
    # Display .NET Core version
    - cmd: dotnet --version
    #- dotnet restore RedisRetry.sln
    - cmd: dotnet restore "source/Redis Inside.sln"	--verbosity m
build_script:
    - cmd: dotnet pack -c Release --output ../../artifacts source/RedisInside/RedisInside.csproj
test_script:
  - cmd: dotnet test source/RedisInside.Tests/RedisInside.Tests.csproj
artifacts:
 - path: 'artifacts\**\*.nupkg'
   type: NuGetPackage 
skip_commits:
  files:
    - '**/*.md'